<div class="container" ng-show="!showFailMessage">
    <div class="row">
        <div class="col-sm-12">
            <h4>Please fill out the form below</h4>
            <hr>
            <form name="attentionCheckForm">
                <div class="form-group">
                    <label>1) When did you complete your profile? <span style="color: red">*</span></label></br>
                    <small>When did you complete the previous HIT before you were invited to this one.</small>
                    <select class="form-control" ng-model="daysSinceComplete" ng-options="opt for opt in daysSinceCompletionOptions" required></select>
                </div>

                <div class="form-group">
                    <label>2) Who invited you to submit this teacher evaluation? <span style="color: red">*</span></label></br>
                    <small>If unsure, this information is available in the SUMMARY section of the invitation email.</small>
                    <select id="questionTwoInput" ng-change="resetBorderColor(2)" class="form-control" ng-model="inviter" ng-options="opt for opt in inviterOptions" required></select>
                    <p ng-show="inviter === 'I am not sure'" style="color:red">
                        This answer will disqualify you from this exercise. If unsure about the purpose of the evaluation, this information
                        can be found in the invitation email or <a href="#home"> here.</a> Please read closely.
                    </p>
                </div>

                <div class="form-group">
                    <label>3) What is the purpose of this evaluation? <span style="color: red">*</span></label></br>
                    <small>If unsure, this information is available in the SUMMARY section of the invitation email.</small>
                    <select id="questionThreeInput" ng-change="resetBorderColor(3)" class="form-control" ng-model="purpose" ng-options="opt for opt in purposeOptions" required></select>
                    <p ng-show="purpose === 'I am not sure'" style="color:red">
                        This answer will disqualify you from this exercise. If unsure about the purpose of the evaluation, this information
                        can be found in the invitation email or <a href="#home"> here.</a> Please read closely.
                    </p>
                </div>

                <div class="form-group">
                    <label>4) Why do you think you were invited to evaluate the teachers' job performance? <span style="color: red">*</span></label></br>
                    <small>Select all that applies</small></br>
                    <div ng-dropdown-multiselect="" options="reasons" selected-model="selectedReasons" extra-settings="multiSelectSettings"></div>
                </div>

                <div class="form-group">
                    <label>Please explain briefly your choices from the previous question <span style="color: red">*</span></label></br>
                    <small>Please elaborate. Your response will be reviewed and if judged inadequate your participation will be rejected.</small></br>
                    <textarea class="form-control" ng-model="explanation" required ></textarea>
                </div>

                <div class="form-group">
                    <label>I confirm that I understand the purpose of this evaluation and the effect my feedback will have on personnel decisions. I will read the teacher's profile carefully before submitting my final evaluation <span style="color: red">*</span></label>
                    <select class="form-control" ng-model="confirmation" ng-options="opt for opt in confirmationOptions" required></select>
                </div>

                <button type="submit" class="btn btn-primary pull-right" ng-disabled="attentionCheckForm.$invalid" ng-click="submit()">Submit</button>

            </form>
        </div>
    </div>
</div>
<div class="container" ng-show="showFailMessage">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="color:red">Sorry!</h1>
            </br>
            <p>
                Your answers to the previous form failed an attention check. Consequently, you are disqualified
                from continuing this exercise. We apologize.
            </p>
            </br>
            <p>
                Thank you for your time. You may now <a ng-click="logout()">logout</a>.
            </p>
        </div>
    </div>
</div>