<style>
    label {
        margin: 5px;
    }
    p {
        text-align: justify
    }
</style>
<div class="container" ng-hide="inviteSent">
    <div class="row">
        <div class="col-sm-12">
            <h3>Almost Done!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p >{{ message }}</strong></p>
        </div>
    </div>
    <hr>
    <div class="input-group" style="margin-top: 20px;">
        <button class="btn btn-success pull-right" ng-click="submit()">I agree</button>
    </div>

</div>
<div class="container" ng-show="inviteSent">
    <div class="row">
        <div class="col-sm-12">
            <h3 style="color:green">Success!</h3>
            <p>{{ thankYouMsg }}.</p>
            <p>Please return to MTurk HIT page and use this code to record survey completion: SARZDTSVAJ6OE5TD. You may now <a ng-click="logout()">log out</a></p>
        </div>
    </div>
</div>