<style>
    p {
        font-size: 14px
    }
</style>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2" ng-show="isRelative">
        <h3>Background</h3>
        <p>
            Every year select high schools must decide which teachers would be promoted for
            tenure.
            This year, in an initiative to improve its tenure selection process, the tenure board at Kingston High
            School (K.H.S) <sup>*</sup>
            decided to solicit outside input on its promotion decisions.
        </p>
        </br>
        <p><strong>We ask for your help!</strong>
        </p>
        </br>
        <p>
            In what follows we ask you to answer basic questions about your experience with providing performance reviews.
            Afterwards you will be asked to evaluate two teachers side by side.
            For each teacher we will provide you with a list of performance reviews provided by the teacher's supervisors on
            relevant job functions.
            After reading supervisor reviews, we ask you to recommend <strong>one</strong> of the two teachers for the tenure promotion.
        </p>
        </br>
        <h4>
            Please be mindful of the impact your decisions will have on personnel selection.
        </h4>
        </br>
        <p style="font-size:0.9em;color:maroon ">
            <sup>*</sup> In order to protect the school's privacy and make sure any previous knowledge of the school
            doesn't influence your response, we are using the Kingston High School (K.H.S) pseudonym. Any resemblance to
            any educational facilities is purely coincidental.
        </p>
        </br>
    </div>
    <div class="col-sm-8 col-sm-offset-2" ng-show="!isRelative && !isExpert">
        <h3>Background</h3>
        <p>
            Every year select high schools must decide which teachers would be promoted for
            tenure.
            This year, in an initiative to improve its tenure selection process, the tenure board at Kingston High
            School’s (K.H.S) <sup>*</sup>
            decided to solicit outside input on its promotion decisions.
        </p>
        </br>
        <p><strong>We ask for your help!</strong>
        </p>
        </br>
        <p>
            In what follows we ask you to answer basic questions about your experience with providing performance reviews.
            Afterwards, you will be asked to evaluate teachers' job performance based on supervisor reviews on multiple
            job dimensions.
        </p>
        </br>
        <p>
            The first {{ practiceRounds }} round(s) is for practice. <strong>Those are mandatory</strong>.
            After each practice round you will be provided with feedback on your evaluation. Make sure to review the feedback before proceeding.
        </p>
        </br>
        <h4>
            Please be mindful of the impact your decisions will have on personnel selection.
        </h4>
        </br>
        <p style="font-size:0.9em;color:maroon ">
            <sup>*</sup> In order to protect the school's privacy and make sure any previous knowledge of the school
            doesn't influence your response, we are using the Kingston High School (K.H.S) pseudonym. Any resemblance to
            any educational facilities is purely coincidental.
        </p>
        </br>
    </div>
    <div class="col-sm-8 col-sm-offset-2" ng-show="isExpert">
        <h3>Background</h3>
        <p>
            In what follows we ask you to evaluate teachers' job performance on three job dimensions: student learning, instructional practice,
            and professionalism. You will be provided with two supervisors' reviews of each teacher on each dimension. After reading as many reviews
            as you think necessary, we ask you to fill out a performance evaluation form for each teacher based on the supervisor reviews.
        </p>
        </br>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-sm-6 text-center col-sm-offset-3">
        <button class="btn btn-primary" type="button" ng-click="next()">Continue</button>
    </div>
</div>