<style>
    tr {
        font-size: 14px;
    }
    .job-function {
        padding-left: 50px;
    }
    .heading {
        margin-bottom: 30px;
    }
    h5 {
        background-color: #F5F5F5
    }
    #collapseOne, #collapseTwp, #collapseThree {
        background-color: #FAFAFA
    }
    .evaluation-column {
        width: 250px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12 heading">
            <h3>Scoring Instructions</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>
                On the next page you will be asked to use a 1-100 scale to evaluate teachers' performance on three job
                dimensions: Student Learning,
                Instructional Practice, and Professionalism. To better understand how to assign scores for each
                dimension please review the following details:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 job-function">
            <h5 id="headingOne">
                Student Learning
                <span>
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            ng-click="collapseClick('sl')" aria-expanded="true" aria-controls="collapseOne"> {{ slExpandLabel }}</button>
                </span>
            </h5>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                <div>
                    <p>
                        Teachers must provide consistent evidence showing that all students, including those with
                        special needs, perform competitively on state standard exams for academic qualifications.
                    </p>
                </div>
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Evaluation</th>
                            <th scope="col">Score</th>
                            <th scope="col">Explanation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="evaluation-column">Exceeds expectation</td>
                            <td width="100px">75-100</td>
                            <td>All students show significant gains on standard exams.
                            </td>
                        </tr>
                        <tr>
                            <td class="evaluation-column">Meets expectation</td>
                            <td width="100px">50-75</td>
                            <td>Most students show significant gains on standard exams.
                            </td>
                        </tr>
                        <tr>
                            <td class="evaluation-column">Doesn't fully meet expectation</td>
                            <td width="100px">25-50</td>
                            <td>Some students show little gains on standard exams.
                            </td>
                        </tr>
                        <tr>
                            <td class="evaluation-column">Below expectation</td>
                            <td width="100px">1-25</td>
                            <td>No evidence of gains on standard exams.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 job-function">
            <h5 id="headingTwo">
                Instructional Practice
                <span>
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                            ng-click="collapseClick('ip')"
                            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        {{ ipExpandLabel }}
                    </button>
                </span>
            </h5>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                <div>
                    <p>Teachers must provide consistent evidence indicating practice at the most effective level in the
                        categories:
                        • Planning and Preparation
                        • Classroom Environment
                        • Instruction</p>
                </div>
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Evaluation</th>
                            <th scope="col">Score</th>
                            <th scope="col">Explanation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="evaluation-column">Exceeds expectation</td>
                            <td width="100px">75-100</td>
                            <td>Evidence of excellent classroom environment, preparedness, and clear instruction.
                            </td>
                        </tr>
                        <tr>
                            <td class="evaluation-column">Meets expectation</td>
                            <td width="100px">50-75</td>
                            <td>Classroom is suitable for learning, lessons are planned, and instructions are clear.
                            </td>
                        </tr>
                        <tr>
                            <td class="evaluation-column">Doesn't fully meet expectation</td>
                            <td width="100px">25-50</td>
                            <td>Evidence of some concerns with planning and instruction.
                            </td>
                        </tr>
                        <tr>
                            <td class="evaluation-column">Below expectation</td>
                            <td width="100px">1-25</td>
                            <td>Unsuitable learning environment with no preparedness and poor instruction.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 job-function">
            <h5 id="headingThree">
                Professionalism
                <span>
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                            ng-click="collapseClick('pf')"
                            data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        {{ pfExpandLabel }}
                    </button>
                </span>
            </h5>
            <div id="collapseThree" class="collapse" aria-labelledby="headingTwo">
                <div>
                    <p>Teachers must provide consistent evidence of high level professionalism on activities including:
                        • Professional Growth and Reflection
                        • Collaboration and Engagement with
                        the School Community
                        • Communication with Families</p>
                </div>
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Evaluation</th>
                            <th scope="col">Score</th>
                            <th scope="col">Explanation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="evaluation-column">Exceeds expectation</td>
                            <td width="100px">75-100</td>
                            <td>Proactive interaction with community, clear record of career development, and excellent relation with parents.
                            </td>
                        </tr>
                        <tr>
                            <td class="evaluation-column">Meets expectation</td>
                            <td width="100px">50-75</td>
                            <td>Consistent collaboration with outside classroom activities, good career development potential, and close relation with parents.
                            </td>
                        </tr>
                        <tr>
                            <td class="evaluation-column">Doesn't fully meet expectation</td>
                            <td width="100px">25-50</td>
                            <td>Infrequent interaction with community, slow career progression, and weak relation with parents.
                            </td>
                        </tr>
                        <tr>
                            <td class="evaluation-column">Below expectation</td>
                            <td width="100px">1-25</td>
                            <td>No collaboration with community with very little growth and development.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <input type="checkbox" ng-click="confirm()"> I confirm that I have carefully read the details provided
            above.
        </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right" ng-disabled="pendingConfirmation" ng-click="submit()">
        Continue to practice evaluations
    </button>
</div>
