<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>The Tenure Process</h3>
        <p style="color: #942811">Please read the following carefully before you start evaluation.
            To access this page at any time during the exercise, click on <strong>Tenure</strong> in the navigation bar above.</p>
        </br>
        <h4>What is academic tenure?</h4>
        <p>
            A tenure appointment is an indefinite appointment that can be terminated only with proper cause and due process.
            Academic tenure is intended to protect educators against termination for personal, arbitrary, or political
            reasons. In applicable states, every teacher can become eligible for tenure after completing a probationary
            period determined by law (for this case, the state’s required probation period is 4 years).
            After the end of the probation period, every teacher goes through a rigorous process where a board reviews
            the teacher’s profile and determines whether they meet requirements for tenure. Accomplishing tenure,
            in states that provide it, is a monument milestone in every teacher’s career
        </p>
        <!--</br>-->
        <!--<h4>What is a probationary period?</h4>-->
        <!--<p>-->
            <!--State law requires every teacher to serve for a period of time before becoming eligible for tenure; this is referred to as probationary period. During this period (in our case 4 years) teachers are regularly reviewed by supervisors to evaluate them in areas such as planning and preparation, classroom environment, instruction and professional responsibilities. At the end of the probationary period, a teacher becomes eligible for tenure.-->
        <!--</p>-->
        </br>
        <h4>What are the requirements for tenure?</h4>
        <p>
            Tenure is not automatic after the end of the probationary period. The process of determining tenure is rigorous and involves input from multiple sources. Every teacher must prove capable of meeting the rigorous requirements expected of tenured faculty. A teacher, to achieve tenure, must prove evidence of qualification on the following job functions:
        </p>
        <ul>
            <li style="margin-bottom:20px"><strong>Student Learning: </strong>tenure applicants must provide consistent evidence showing that all students, including those with special needs, perform competitively on state standard exams for academic qualifications.
            </li>
            <li style="margin-bottom:20px"><strong>Instructional Practice: </strong>tenure applicants must provide consistent evidence indicating practice at the most effective level in the categories below:
                <ul>
                    <li>Planning and preparation</li>
                    <li>Classroom environment</li>
                    <li>Instruction</li>
                </ul>
            </li>
            <li style="margin-bottom:20px"><strong>Professionalism: </strong>tenure applicants must provide consistent evidence of high level professionalism on activities including:
                <ul>
                    <li>Professional growth and reflection</li>
                    <li>Collaboration and engagement with the school community</li>
                    <li>Effective communication with students’ families</li>
                    <li>Management of non-instructional responsibilities</li>
                    <li>Professional conduct</li>
                </ul>
            </li>
        </ul>
        </br>
        <h4>What is expected from me?</h4>
        <p>
            In what follows we ask you to answer basic questions about your experience with providing performance reviews.
            <strong>Afterwards</strong> you will be asked to evaluate two teachers side by side.
            For each teacher we will provide you with a list of performance reviews provided by the teacher's supervisors on relevant job functions.
            After reading supervisor reviews, we ask you to recommend one of the two teachers for the tenure promotion.
            Finally you'll be asked to explain briefly the reason for your recommendation and your confidence in your choice.
            </br>
            Please be mindful of the impact your decisions will have on personnel selection.
        </p>
        <hr>
        <form name="tenureForm" style="margin-top:30px;">
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="tenureForm.$invalid" ng-click="submit()">Continue</button>
        </form>
    </div>

</div>