<div class="row text-center" style="padding-top: 150px;">
    <div class="col-md-12">
        <h1>Welcome!</h1>
    </div>
    <div class="col-md-12" ng-show="showStartMessage">
        <h3>Please click <a ng-click="go()">here</a> to begin.</h3>
    </div>
    <div class="col-md-12" ng-show="showAccessDeniedMessage">
        <h3>This web page is meant for use with MTurk (a worker ID is required). Access is only prohibited from MTurk HIT.</h3>
    </div>
    <div class="col-md-12" ng-show="showEndOfSessionMessage">
        <h3>This session has ended.</h3>
    </div>
    <div class="col-md-12" style="padding-top:100px;">
        <p>Authentication for this site is powered by:</p>
        <img src="./app/img/auth0-logo.png" style="width:200px;height:80px">
    </div>
</div>